In [13]:
import pandas as pd
import numpy as np
# Load in the Google Analytics Sample Dataset
import bq_helper
from bq_helper import BigQueryHelper
google_analytics = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="data:google_analytics_sample")

Using Kaggle's public dataset BigQuery integration.

In [14]:
bq_assistant = BigQueryHelper("bigquery-public-data", "google_analytics_sample")
bq_assistant.list_tables()

Using Kaggle's public dataset BigQuery integration.

['ga_sessions_20160801',
 'ga_sessions_20160802',
 'ga_sessions_20160803',
 'ga_sessions_20160804',
 'ga_sessions_20160805',
 'ga_sessions_20160806',
 'ga_sessions_20160807',
 'ga_sessions_20160808',
 'ga_sessions_20160809',
 'ga_sessions_20160810',
 'ga_sessions_20160811',
 'ga_sessions_20160812',
 'ga_sessions_20160813',
 'ga_sessions_20160814',
 'ga_sessions_20160815',
 'ga_sessions_20160816',
 'ga_sessions_20160817',
 'ga_sessions_20160818',
 'ga_sessions_20160819',
 'ga_sessions_20160820',
 'ga_sessions_20160821',
 'ga_sessions_20160822',
 'ga_sessions_20160823',
 'ga_sessions_20160824',
 'ga_sessions_20160825',
 'ga_sessions_20160826',
 'ga_sessions_20160827',
 'ga_sessions_20160828',
 'ga_sessions_20160829',
 'ga_sessions_20160830',
 'ga_sessions_20160831',
 'ga_sessions_20160901',
 'ga_sessions_20160902',
 'ga_sessions_20160903',
 'ga_sessions_20160904',
 'ga_sessions_20160905',
 'ga_sessions_20160906',
 'ga_sessions_20160907',
 'ga_sessions_20160908',
 'ga_sessions_20160909',
 'ga_sessions_20160910',
 'ga_sessions_20160911',
 'ga_sessions_20160912',
 'ga_sessions_20160913',
 'ga_sessions_20160914',
 'ga_sessions_20160915',
 'ga_sessions_20160916',
 'ga_sessions_20160917',
 'ga_sessions_20160918',
 'ga_sessions_20160919',
 'ga_sessions_20160920',
 'ga_sessions_20160921',
 'ga_sessions_20160922',
 'ga_sessions_20160923',
 'ga_sessions_20160924',
 'ga_sessions_20160925',
 'ga_sessions_20160926',
 'ga_sessions_20160927',
 'ga_sessions_20160928',
 'ga_sessions_20160929',
 'ga_sessions_20160930',
 'ga_sessions_20161001',
 'ga_sessions_20161002',
 'ga_sessions_20161003',
 'ga_sessions_20161004',
 'ga_sessions_20161005',
 'ga_sessions_20161006',
 'ga_sessions_20161007',
 'ga_sessions_20161008',
 'ga_sessions_20161009',
 'ga_sessions_20161010',
 'ga_sessions_20161011',
 'ga_sessions_20161012',
 'ga_sessions_20161013',
 'ga_sessions_20161014',
 'ga_sessions_20161015',
 'ga_sessions_20161016',
 'ga_sessions_20161017',
 'ga_sessions_20161018',
 'ga_sessions_20161019',
 'ga_sessions_20161020',
 'ga_sessions_20161021',
 'ga_sessions_20161022',
 'ga_sessions_20161023',
 'ga_sessions_20161024',
 'ga_sessions_20161025',
 'ga_sessions_20161026',
 'ga_sessions_20161027',
 'ga_sessions_20161028',
 'ga_sessions_20161029',
 'ga_sessions_20161030',
 'ga_sessions_20161031',
 'ga_sessions_20161101',
 'ga_sessions_20161102',
 'ga_sessions_20161103',
 'ga_sessions_20161104',
 'ga_sessions_20161105',
 'ga_sessions_20161106',
 'ga_sessions_20161107',
 'ga_sessions_20161108',
 'ga_sessions_20161109',
 'ga_sessions_20161110',
 'ga_sessions_20161111',
 'ga_sessions_20161112',
 'ga_sessions_20161113',
 'ga_sessions_20161114',
 'ga_sessions_20161115',
 'ga_sessions_20161116',
 'ga_sessions_20161117',
 'ga_sessions_20161118',
 'ga_sessions_20161119',
 'ga_sessions_20161120',
 'ga_sessions_20161121',
 'ga_sessions_20161122',
 'ga_sessions_20161123',
 'ga_sessions_20161124',
 'ga_sessions_20161125',
 'ga_sessions_20161126',
 'ga_sessions_20161127',
 'ga_sessions_20161128',
 'ga_sessions_20161129',
 'ga_sessions_20161130',
 'ga_sessions_20161201',
 'ga_sessions_20161202',
 'ga_sessions_20161203',
 'ga_sessions_20161204',
 'ga_sessions_20161205',
 'ga_sessions_20161206',
 'ga_sessions_20161207',
 'ga_sessions_20161208',
 'ga_sessions_20161209',
 'ga_sessions_20161210',
 'ga_sessions_20161211',
 'ga_sessions_20161212',
 'ga_sessions_20161213',
 'ga_sessions_20161214',
 'ga_sessions_20161215',
 'ga_sessions_20161216',
 'ga_sessions_20161217',
 'ga_sessions_20161218',
 'ga_sessions_20161219',
 'ga_sessions_20161220',
 'ga_sessions_20161221',
 'ga_sessions_20161222',
 'ga_sessions_20161223',
 'ga_sessions_20161224',
 'ga_sessions_20161225',
 'ga_sessions_20161226',
 'ga_sessions_20161227',
 'ga_sessions_20161228',
 'ga_sessions_20161229',
 'ga_sessions_20161230',
 'ga_sessions_20161231',
 'ga_sessions_20170101',
 'ga_sessions_20170102',
 'ga_sessions_20170103',
 'ga_sessions_20170104',
 'ga_sessions_20170105',
 'ga_sessions_20170106',
 'ga_sessions_20170107',
 'ga_sessions_20170108',
 'ga_sessions_20170109',
 'ga_sessions_20170110',
 'ga_sessions_20170111',
 'ga_sessions_20170112',
 'ga_sessions_20170113',
 'ga_sessions_20170114',
 'ga_sessions_20170115',
 'ga_sessions_20170116',
 'ga_sessions_20170117',
 'ga_sessions_20170118',
 'ga_sessions_20170119',
 'ga_sessions_20170120',
 'ga_sessions_20170121',
 'ga_sessions_20170122',
 'ga_sessions_20170123',
 'ga_sessions_20170124',
 'ga_sessions_20170125',
 'ga_sessions_20170126',
 'ga_sessions_20170127',
 'ga_sessions_20170128',
 'ga_sessions_20170129',
 'ga_sessions_20170130',
 'ga_sessions_20170131',
 'ga_sessions_20170201',
 'ga_sessions_20170202',
 'ga_sessions_20170203',
 'ga_sessions_20170204',
 'ga_sessions_20170205',
 'ga_sessions_20170206',
 'ga_sessions_20170207',
 'ga_sessions_20170208',
 'ga_sessions_20170209',
 'ga_sessions_20170210',
 'ga_sessions_20170211',
 'ga_sessions_20170212',
 'ga_sessions_20170213',
 'ga_sessions_20170214',
 'ga_sessions_20170215',
 'ga_sessions_20170216',
 'ga_sessions_20170217',
 'ga_sessions_20170218',
 'ga_sessions_20170219',
 'ga_sessions_20170220',
 'ga_sessions_20170221',
 'ga_sessions_20170222',
 'ga_sessions_20170223',
 'ga_sessions_20170224',
 'ga_sessions_20170225',
 'ga_sessions_20170226',
 'ga_sessions_20170227',
 'ga_sessions_20170228',
 'ga_sessions_20170301',
 'ga_sessions_20170302',
 'ga_sessions_20170303',
 'ga_sessions_20170304',
 'ga_sessions_20170305',
 'ga_sessions_20170306',
 'ga_sessions_20170307',
 'ga_sessions_20170308',
 'ga_sessions_20170309',
 'ga_sessions_20170310',
 'ga_sessions_20170311',
 'ga_sessions_20170312',
 'ga_sessions_20170313',
 'ga_sessions_20170314',
 'ga_sessions_20170315',
 'ga_sessions_20170316',
 'ga_sessions_20170317',
 'ga_sessions_20170318',
 'ga_sessions_20170319',
 'ga_sessions_20170320',
 'ga_sessions_20170321',
 'ga_sessions_20170322',
 'ga_sessions_20170323',
 'ga_sessions_20170324',
 'ga_sessions_20170325',
 'ga_sessions_20170326',
 'ga_sessions_20170327',
 'ga_sessions_20170328',
 'ga_sessions_20170329',
 'ga_sessions_20170330',
 'ga_sessions_20170331',
 'ga_sessions_20170401',
 'ga_sessions_20170402',
 'ga_sessions_20170403',
 'ga_sessions_20170404',
 'ga_sessions_20170405',
 'ga_sessions_20170406',
 'ga_sessions_20170407',
 'ga_sessions_20170408',
 'ga_sessions_20170409',
 'ga_sessions_20170410',
 'ga_sessions_20170411',
 'ga_sessions_20170412',
 'ga_sessions_20170413',
 'ga_sessions_20170414',
 'ga_sessions_20170415',
 'ga_sessions_20170416',
 'ga_sessions_20170417',
 'ga_sessions_20170418',
 'ga_sessions_20170419',
 'ga_sessions_20170420',
 'ga_sessions_20170421',
 'ga_sessions_20170422',
 'ga_sessions_20170423',
 'ga_sessions_20170424',
 'ga_sessions_20170425',
 'ga_sessions_20170426',
 'ga_sessions_20170427',
 'ga_sessions_20170428',
 'ga_sessions_20170429',
 'ga_sessions_20170430',
 'ga_sessions_20170501',
 'ga_sessions_20170502',
 'ga_sessions_20170503',
 'ga_sessions_20170504',
 'ga_sessions_20170505',
 'ga_sessions_20170506',
 'ga_sessions_20170507',
 'ga_sessions_20170508',
 'ga_sessions_20170509',
 'ga_sessions_20170510',
 'ga_sessions_20170511',
 'ga_sessions_20170512',
 'ga_sessions_20170513',
 'ga_sessions_20170514',
 'ga_sessions_20170515',
 'ga_sessions_20170516',
 'ga_sessions_20170517',
 'ga_sessions_20170518',
 'ga_sessions_20170519',
 'ga_sessions_20170520',
 'ga_sessions_20170521',
 'ga_sessions_20170522',
 'ga_sessions_20170523',
 'ga_sessions_20170524',
 'ga_sessions_20170525',
 'ga_sessions_20170526',
 'ga_sessions_20170527',
 'ga_sessions_20170528',
 'ga_sessions_20170529',
 'ga_sessions_20170530',
 'ga_sessions_20170531',
 'ga_sessions_20170601',
 'ga_sessions_20170602',
 'ga_sessions_20170603',
 'ga_sessions_20170604',
 'ga_sessions_20170605',
 'ga_sessions_20170606',
 'ga_sessions_20170607',
 'ga_sessions_20170608',
 'ga_sessions_20170609',
 'ga_sessions_20170610',
 'ga_sessions_20170611',
 'ga_sessions_20170612',
 'ga_sessions_20170613',
 'ga_sessions_20170614',
 'ga_sessions_20170615',
 'ga_sessions_20170616',
 'ga_sessions_20170617',
 'ga_sessions_20170618',
 'ga_sessions_20170619',
 'ga_sessions_20170620',
 'ga_sessions_20170621',
 'ga_sessions_20170622',
 'ga_sessions_20170623',
 'ga_sessions_20170624',
 'ga_sessions_20170625',
 'ga_sessions_20170626',
 'ga_sessions_20170627',
 'ga_sessions_20170628',
 'ga_sessions_20170629',
 'ga_sessions_20170630',
 'ga_sessions_20170701',
 'ga_sessions_20170702',
 'ga_sessions_20170703',
 'ga_sessions_20170704',
 'ga_sessions_20170705',
 'ga_sessions_20170706',
 'ga_sessions_20170707',
 'ga_sessions_20170708',
 'ga_sessions_20170709',
 'ga_sessions_20170710',
 'ga_sessions_20170711',
 'ga_sessions_20170712',
 'ga_sessions_20170713',
 'ga_sessions_20170714',
 'ga_sessions_20170715',
 'ga_sessions_20170716',
 'ga_sessions_20170717',
 'ga_sessions_20170718',
 'ga_sessions_20170719',
 'ga_sessions_20170720',
 'ga_sessions_20170721',
 'ga_sessions_20170722',
 'ga_sessions_20170723',
 'ga_sessions_20170724',
 'ga_sessions_20170725',
 'ga_sessions_20170726',
 'ga_sessions_20170727',
 'ga_sessions_20170728',
 'ga_sessions_20170729',
 'ga_sessions_20170730',
 'ga_sessions_20170731',
 'ga_sessions_20170801']

In [15]:
# Print out the first few rows of a session to see the dataframe
bq_assistant.head("ga_sessions_20160801", num_rows=3)

,visitorId,visitNumber,visitId,visitStartTime,date,totals,trafficSource,device,geoNetwork,customDimensions,hits,fullVisitorId,userId,channelGrouping,socialEngagementType
0,None,1,1470117657,1470117657,20160801,"{'visits': 1, 'hits': 3, 'pageviews': 3, 'time...","{'referralPath': '/yt/about/', 'campaign': '(n...","{'browser': 'Internet Explorer', 'browserVersi...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 23, 'minu...",7194065619159478122,None,Social,Not Socially Engaged
1,None,151,1470083489,1470083489,20160801,"{'visits': 1, 'hits': 3, 'pageviews': 3, 'time...","{'referralPath': '/yt/about/', 'campaign': '(n...","{'browser': 'Chrome', 'browserVersion': 'not a...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 13, 'minu...",8159312408158297118,None,Social,Not Socially Engaged
2,None,1,1470052694,1470052694,20160801,"{'visits': 1, 'hits': 4, 'pageviews': 3, 'time...","{'referralPath': '/yt/about/', 'campaign': '(n...","{'browser': 'Chrome', 'browserVersion': 'not a...","{'continent': 'Asia', 'subContinent': 'Southea...",[],"[{'hitNumber': 1, 'time': 0, 'hour': 4, 'minut...",9236304747882138291,None,Social,Not Socially Engaged

In [16]:
# Printing out the schema
bq_assistant.table_schema("ga_sessions_20160801")

/src/bq-helper/bq_helper.py:63: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  'fields': pd.np.nan,

                                  name     type      mode description
0                            visitorId  INTEGER  NULLABLE        None
1                          visitNumber  INTEGER  NULLABLE        None
2                              visitId  INTEGER  NULLABLE        None
3                       visitStartTime  INTEGER  NULLABLE        None
4                                 date   STRING  NULLABLE        None
..                                 ...      ...       ...         ...
331  hits.publisher_infos.dfpNetworkId   STRING  NULLABLE        None
332                      fullVisitorId   STRING  NULLABLE        None
333                             userId   STRING  NULLABLE        None
334                    channelGrouping   STRING  NULLABLE        None
335               socialEngagementType   STRING  NULLABLE        None

[336 rows x 4 columns]

What is the total number of transactions generated per device browser in July 2017?

In [17]:
query1 = """SELECT
device.browser,
SUM ( totals.transactions ) AS total_transactions
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
_TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
GROUP BY
device.browser
ORDER BY
total_transactions DESC;
        """
response1 = google_analytics.query_to_pandas_safe(query1)
response1.head(10)

             browser  total_transactions
0             Chrome               984.0
1             Safari                65.0
2            Firefox                12.0
3  Internet Explorer                 7.0
4              Opera                 2.0
5               Edge                 2.0
6         Opera Mini                 NaN
7    Safari (in-app)                 NaN
8         UC Browser                 NaN
9          YaBrowser                 NaN

The real bounce rate is defined as the percentage of visits with a single pageview. What was the real bounce rate per traffic source?

In [18]:
query2 = """SELECT
source,
total_visits,
total_no_of_bounces,
( ( total_no_of_bounces / total_visits ) * 100 ) AS bounce_rate
FROM (
SELECT
trafficSource.source AS source,
COUNT ( trafficSource.source ) AS total_visits,
SUM ( totals.bounces ) AS total_no_of_bounces
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
_TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
GROUP BY
source )
ORDER BY
total_visits DESC;
        """
response2 = google_analytics.query_to_pandas_safe(query2)
response2.head(10)

                 source  total_visits  total_no_of_bounces  bounce_rate
0                google         38400              19798.0    51.557292
1              (direct)         19891               8606.0    43.265799
2           youtube.com          6351               4238.0    66.729649
3  analytics.google.com          1972               1064.0    53.955375
4              Partners          1788                936.0    52.348993
5        m.facebook.com           669                430.0    64.275037
6            google.com           368                183.0    49.728261
7                   dfa           302                124.0    41.059603
8      sites.google.com           230                 97.0    42.173913
9          facebook.com           191                102.0    53.403141

What is the average amount of money spent per session in July 2017?

In [19]:
query6 = """SELECT
( SUM(total_transactionrevenue_per_user) / SUM(total_visits_per_user) ) AS
avg_revenue_by_user_per_visit
FROM (
SELECT
fullVisitorId,
SUM( totals.visits ) AS total_visits_per_user,
SUM( totals.transactionRevenue ) AS total_transactionrevenue_per_user
FROM
`bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
_TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
AND
totals.visits > 0
AND totals.transactions >= 1
AND totals.transactionRevenue IS NOT NULL
GROUP BY
fullVisitorId );
        """
response6 = google_analytics.query_to_pandas_safe(query6, max_gb_scanned=10)
response6.head(10)

   avg_revenue_by_user_per_visit
0                   1.207558e+08

What is the sequence of pages viewed?

In [21]:
query7 = """SELECT
fullVisitorId,
visitId,
visitNumber,
hits.hitNumber AS hitNumber,
hits.page.pagePath AS pagePath
FROM
`bigquery-public-data.google_analytics_sample.ga_sessions_*`,
UNNEST(hits) as hits
WHERE
_TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
AND
hits.type="PAGE"
ORDER BY
fullVisitorId,
visitId,
visitNumber,
hitNumber;
        """
response7 = google_analytics.query_to_pandas_safe(query7, max_gb_scanned=10)
response7.head(10)

,fullVisitorId,visitId,visitNumber,hitNumber,pagePath
0,0000062267706107999,1499645960,1,1,/home
1,0000085059828173212,1500505105,1,1,/asearch.html
2,0000436683523507380,1500504900,1,1,/home
3,0000436683523507380,1500504900,1,2,/google+redesign/electronics/power/clip+compac...
4,0000436683523507380,1500989127,2,1,/home
5,0000436683523507380,1500989127,2,2,/google+redesign/bags/backpacks/waterproof+bac...
6,0000436683523507380,1500989127,2,3,/home
7,0000436683523507380,1500989127,2,4,/home
8,0000436683523507380,1500989127,2,5,/google+redesign/electronics
9,0000436683523507380,1500989127,2,6,/google+redesign/office/notebooks+journals/goo...

Small examples of trends from google analytics. We could try to implement these algorithms on our own too.